body{
  background-color: rgb(29, 26, 5);
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

#menu-panda{
  background-color: rgb(202, 60, 37);
  margin:  0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

#menu-panda ul{
  margin-left: 120px;
}

#menu-panda li{
  display: inline-block;
  padding: 10px;
}

#menu-panda a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}
#menu-panda a:hover{
 color: white;
}

section{
  margin: 150px;
}
 /*Section pictures*/
#pictures-panda {
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
}

#pictures-panda div{
  display: inline-block;
  position: relative;
}

#pictures-panda img{
  width: 200px;
  border: 6px solid gray;
  margin: 10px;
  /*background-color: */
}

#pictures-panda img:hover{
  opacity: 0.8;
}

#pictures-panda .close{
  position: absolute;
  top: 5%;
  left: 90%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/*button*/
#button-panda{
  margin: 20px;
  padding: 20px;
}

#button-panda a{
  width: 33%;
  background-color: rgb(202, 60, 37);
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

#info-panda div{
  width: 45%;
  margin: 5px;
  text-align: justify;
  display: inline-block;
  color: white;
  padding-bottom: 50px;
}
#info-panda .origen-panda{
  float: left;
}

#info-panda .historia-panda{
  float: right;
}
